:root {
  --background-color: #f1f7ee;
  --primary-color: #3a503b;
  --secondary-color: #b0bea9;
  --tertiary-color: #97b485;
  --quaternary-color: #2c6d83;
  --header-font: "rubik", Arial, Helvetica, sans-serif;
  --text-font: "inter", Georgia, Times, serif;
}

form {
    background-color: var(--secondary-color);
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 80%;
    border-radius: 15px;
    border: 5px inset var(--quaternary-color);
}

form fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    border: 3px outset var(--primary-color);
}

form legend {
    font-family: var(--header-font);
    font-size: 25px;
}

form label, input {
    font-family: var(--text-font);
}