h2,
h3 {
  margin: 0px;
  padding: 0.83em 0px;
  background-color: var(--tertiary-color);
  text-align: center;
}

main h2 {
  background-color: var(--background-color);
}

main section h2 {
  background-color: var(--tertiary-color);
}

#filters {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 15px;
}

#filters h3 {
  grid-column: 1 / span 2;
}

#filters button {
  grid-row: 2;
  font-family: var(--header-font);
  padding: 10px;
}

#filterCategory {
  grid-row: 3;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--text-font);
  justify-items: center;
}

#filterCategory label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

#filterCategory input {
  width: 20px;
  height: 20px;
  margin: 0px;
}

#hikes {
  border: none;
  margin: auto;
  border-radius: 5px;
  width: 95%;
}

#hikes h2 {
  margin: 0px;
  padding: 0.83em 0px;
  background-color: var(--tertiary-color);
  text-align: center;
  border-radius: 5px 5px 0px 0px;
}

#hikes p {
  padding: 0.83em 0.83em;
  margin: 0px;
  text-align: center;
  line-height: 1.5;
}

.hike img {
  display: block;
  max-width: 90%;
  border: 5px inset var(--quaternary-color);
  border-radius: 5px;
  margin: 15px auto;
}

.hike {
  text-align: center;
  margin-bottom: 30px;
}

.hike h3 {
  border-radius: 5px;
}

.hike button {
  font-family: var(--header-font);
  background-color: var(--quaternary-color);
  color: var(--background-color);
  padding: 5px;
  margin: 0.83em 0.83em;
  border-color: var(--primary-color);
  border-radius: 10px;
  border-style: outset;
}
