@media screen and (min-width: 520px) {
    #courses ul {
        padding: 0px;
        list-style-type: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        text-align: center;
        align-items: center;
    }

    #courses ul li {
        margin: 0;
        padding: 10px;
        flex: 1 1 150px;
        min-width: 200px;
        border-radius: 10px;
        border-style: inset;
        border-color: var(--fourth-color);
        border-width: 5px;
        background-color: var(--main-color);
        box-shadow: none;
        transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, border-style 0.3s ease;
    }

    #courses ul li:hover {
        background-color: var(--fourth-color);
        color: var(--second-color);
        border-style: outset;
        box-shadow: 0px 0px 10px 3px black;
    }

}