:root {
    --main-color: #EFF8E2;
    --second-color: #dec6fd;
    --third-color: #c7b4fd;
    --fourth-color: #592E83;
    --header-text: "Archivo Black", Arial, Helvetica, sans-serif;
    --normal-text: "Barlow Semi Condensed", Georgia, Times, serif;
}

body {
    background-color: var(--main-color);
    font-family: var(--normal-text);
    font-weight: 400;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 25% 1fr 15%;
    grid-template-rows: auto auto;
    background-color: var(--fourth-color);
    color: var(--main-color);
    font-family: var(--header-text);
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
}

#logo {
    width: 100%;
    height: 100%;
    background-color: var(--second-color);
    color: black;
    text-align: center;
}

#dropdownImg {
    grid-column: 3;
    max-width: 100%;
    align-items: center;
    margin: 5px auto;
}

header nav {
    grid-column: span 3;
    grid-row: 2;
    background-color: var(--third-color);
    font-style: normal;
}

header nav ul {
    display: none;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    color: black;
}

header nav ul li {
    padding: 20px 0px;
    width: 100%;
}

header nav ul li:hover {
    background-color: var(--fourth-color);
    color: var(--main-color);
}

h1,
h2,
h3 {
    font-family: var(--header-text);
    font-weight: 800;
    font-style: normal;
}

h1 {
    font-size: 30px;
    margin: 10px 10px;
}

h2 {
    font-size: larger;
}

main {
    margin: 5px;
}

section {
    margin: 10px auto;
    background-color: var(--third-color);
    border-style: inset;
    border-color: var(--fourth-color);
    border-width: 5px;
    border-radius: 10px;
}

section h2 {
    text-align: center;
    background-color: var(--second-color);
    padding: 5px;
    margin: 0px;
    border-radius: 10px 10px 0px 0px;
}

section p {
    padding: 10px;
    margin: 0px;
    font-weight: 400;
}

#student {
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

#student-img {
    background-color: var(--main-color);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

#student-img img {
    width: 100%;
    border-radius: 10px;
}

#courses {
    display: flex;
    flex-direction: column;
}

#courses h2 {
    margin-bottom: 5px;
}

#courses span {
    text-align: center;
    padding: 5px;
}

#courses ul {
    margin: 5px;
}

dialog {
    background-color: var(--third-color);
    border-style: inset;
    border-color: var(--fourth-color);
    border-width: 5px;
    border-radius: 10px;
    padding: 0px;
}

dialog div {
    display: flex;
    background-color: var(--second-color);
}

dialog div h2 {
    width: 100%;
}

dialog div button {
    width: 50px;
    border-style: inset;
    border-color: var(--fourth-color);
    border-width: 2px;
    border-radius: 5px;
}

footer {
    background-color: var(--fourth-color);
    color: var(--main-color);
    font-family: var(--normal-text);
    font-weight: 600;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}